.Converter {
  .Converter-wrap {
    max-width: 600px;
    margin: 100px auto;
  }

  .Converter-inputBase {
    display: flex;
    background: #fff;
    padding: 0;
    border: 0;

    .Converter-valueInput {
      flex: 2;
      outline: none;
      padding: 0 20px;
      border: 0;
      font-size: 18px;
      border-right: 1px solid #dedede;
      transition: 0.3s background-color;
      &:hover {
        background: #f5f5f5;
      }
    }
    .Converter-currencySelect {
      flex: 4;
      border: 0;
      border-radius: 0;
      .Select-control {
        border: 0;
        transition: 0.3s background-color;
        &:hover {
          background: #f5f5f5;
        }
      }
    }
  }
  
  .Converter-destinationCurrencySelect{
    margin-bottom: 50px;
  }
}

._shadow {
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(51, 18, 77, 0.74);
  border: 1px solid rgba(51, 18, 77, 1);
}

._purpleSelectBox {
  .Select-control {
    height: 40px;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    outline: none;

    .Select-placeholder {
      line-height: 50px;
      padding: 0 20px;
    }

    .Select-value {
      line-height: 50px !important;
      padding: 0 10px;

      .Select-value-label {
        line-height: 50px;
        padding: 0 10px;
      }
    }

    .Select-input {
      height: 50px;

      input {
        line-height: 50px;
        padding: 0 10px;
      }
    }
  }
}

.Converter-divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 40px 0;
  & > span {
    position: relative;
    display: inline-block;
  }

  & > span:before,
  & > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #fff;
  }

  & > span:before {
    right: 100%;
    margin-right: 15px;
  }

  & > span:after {
    left: 100%;
    margin-left: 15px;
  }
}