@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=latin-ext');

.App {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .1px;
  text-rendering: geometricPrecision;
  background: rgba(82,36,115,.95);
  background: -moz-linear-gradient(-45deg, #522473 0%, #503099 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}