@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=latin-ext");
@import url("https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css"); // TODO: Local

.App {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-rendering: geometricPrecision;
  background: rgba(82, 36, 115, 0.95);
  background: -moz-linear-gradient(
    -45deg,
    #522473 0%,
    rgba(80, 48, 153, 0.92) 100%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
